<!DOCTYPE html>
<html ng-app='Roulette'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <script src='bower_components/angular/angular.js'></script>
    <script src='/javascripts/player.js'></script>
    <script src='/javascripts/wheel.js'></script>
    <script src='/javascripts/angularApp.js'></script>
  </head>
  <body ng-controller='RouletteController as rltCtrl'><center>
    <h1><%= title %></h1>
    <p>Place your bets</p>
    <div id='player-balance' ng-model='rltCtrl.playerBalance'> £{{rltCtrl.playerBalance}}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8"><% include board %><br><br><% include bets %></div>
        <div class="col-md-4">Spin History: <div id='past-spins' ng-repeat='pastSpins in rltCtrl.pastSpins | orderBy:"-"'><li>{{pastSpins.number}} {{pastSpins.colour}}</li></div></div>
      </div>
    </div>
  </center></body>
</html>
