<!DOCTYPE html>
<html ng-app='Roulette'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='/javascripts/player.js'></script>
    <script src='/javascripts/wheel.js'></script>
    <script src='/javascripts/angularApp.js'></script>
  </head>
  <body ng-controller='RouletteController as rltCtrl'><center>
    <h1><%= title %></h1>
    <% include display %>
    <div class="container">
      <div class="row">
        <div class="col-md-8"><% include board %><br><br><% include bets %><% include playerDashboard %></div>
        <div class="col-md-4"><% include spinHistory %></div>
      </div>
    </div>
  </center>
</body>
</html>
