<!DOCTYPE html>
<html ng-app='Roulette'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='bower_components/angular/angular.js'></script>
    <script src='/javascripts/player.js'></script>
    <script src='/javascripts/wheel.js'></script>
    <script src='/javascripts/angularApp.js'></script>
  </head>
  <body ng-controller='RouletteController as rltCtrl'>
    <h1><%= title %></h1>
    <p>Place your bets</p>
    <br>
    <% include board %>
    <br>
    <br>
    <img src='http://www.thegameoftheirlives.com/images/roulettetable.jpg'>
    <br>
    <div id='player-balance' ng-model='rltCtrl.playerBalance'> £{{rltCtrl.playerBalance}}
    </div>
    <div id='player-bet' ng-model='rltCtrl.bet'>You bet on {{rltCtrl.bet}}</div>
    <br>
    <br>
    <button id='spin-btn' ng-click='rltCtrl.spin()'>Spin!</button>
    <div id='spin-result' ng-model='rltCtrl.spinResult'>Landed on {{rltCtrl.spinResult[0]}} {{rltCtrl.spinResult[1]}}</div>
    <div id='past-spins' ng-repeat='pastSpins in rltCtrl.pastSpins | orderBy:"-"'><li>{{pastSpins.number}} {{pastSpins.colour}}</li></div>
  </body>
</html>
