<br>
<div id='bet-btn' class="ui-widget-content" ng-disabled="rltCtrl.playerBalance < 1" ng-click='rltCtrl.placeBet(1)'>£1</div>
<button class='bet-btn'  ng-disabled="rltCtrl.playerBalance < 5" ng-click='rltCtrl.placeBet(5)'>£5</button>
<button class='bet-btn'  ng-disabled="rltCtrl.playerBalance < 10" ng-click='rltCtrl.placeBet(10)'>£10</button>
<button class='bet-btn'  ng-disabled="rltCtrl.playerBalance < 20" ng-click='rltCtrl.placeBet(20)'>£20</button>
<button id='repeat-btn' ng-click='rltCtrl.repeatBet()'>Repeat</button>
<button id='clear-btn' ng-click='rltCtrl.clearBets()'>Clear Bets</button>
<button id='spin-btn' ng-click='rltCtrl.spin()'>Spin!</button>
<div id='move-me' class="ui-widget-content">Move me!</div>
