body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#zero {
  background-color: green;
}

.number-btn {
  background-color: red;
  border-style: solid;
}

#red-btn {
  background-color: red;
}

#black-btn {
  background-color: black;
}

.wheel {
  background-color: green;
}

.display {
  outline: black solid thick;
}

.col-btn {
  width: 100%;
}